{% extends "base.html" %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="{{ url_for('static', filename='images/360x512.png') }}" alt="">
            </div>
            <div class="col-md-9">
                <h4 class="text-center">Rory Kinnear</h4>
                <div class="row">
                    <div>Birth date: 4 Dec. 2011</div>
                </div>
                <div class="row">
                    <div>Gender: man</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                <caption class="text-left">Best 5 episodes</caption>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Rating</th>
                        <th>Episode</th>
                        <th>Serial</th>
                        <th>Released</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in range(0, 5) %}
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td>9.6</td>
                            <td><a href="/episodes/{{ i }}">The National Anthem</a></td>
                            <td><a href="/serials/{{ i }}">Black mirror</a></td>
                            <td>4 Dec. 2011</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                <caption class="text-left">Worst 5 episodes</caption>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Rating</th>
                        <th>Episode</th>
                        <th>Serial</th>
                        <th>Released</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in range(0, 5) %}
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td>9.6</td>
                            <td><a href="/episodes/{{ i }}">The National Anthem</a></td>
                            <td><a href="/serials/{{ i }}">Black mirror</a></td>
                            <td>4 Dec. 2011</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}