{% extends "base.html" %}

{% block extra_css %}
    <link href="{{ url_for('static', filename='serials_info.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="active" href="/serials">Serials</a></li>
                <li><a href="">Actors</a></li>
                <li><a href="">Writers</a></li>
                <li><a href="">Directors</a></li>
                <li><a href="">Statistic</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </nav>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="{{ url_for('static', filename='images/360x512.png') }}" alt="">
            </div>
            <div class="col-md-9">
                <h3 class="text-center">{{ episode_info.title }}</h3>
                <div><span>Directors: {{ ", ".join(episode_info.directors_names) }}</span></div>
                <div><span>Writers: {{ ", ".join(episode_info.writers_names) }}</span></div>
                <div><span>Date: {{  episode_info.release_date }}</span></div>
                <div><span>Duration: {{  episode_info.duration }}</span></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <caption class="text-left">Casts</caption>
                    <thead>
                    <tr>
                        <th>Actor</th>
                        <th>Role</th>
                        <th>Awards</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in episode_info.played %}
                        <tr>
                            <td><a href="/actors/{{ "1" }}">{{ p.actor_name }}</a></td>
                            <td>{{ p.role_title }}</td>
                            {% if p.award_title and p.award_year %}
                                <td>{{ p.award_title }}</td>
                                <td>{{ p.award_year }}</td>
                            {% else %}
                                <td>-</td>
                                <td>-</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>

{% endblock %}