{% extends "base.html" %}

{% block extra_css %}
    <link href="{{ url_for('static', filename='serials_info.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="{{ url_for('static', filename='images/360x512.png') }}" alt="">
            </div>
            <div class="col-md-9">
                <h3 class="text-center">{{ episode_info.title }}</h3>
                <div><span>Directors: {{ ", ".join(episode_info.directors_names) }}</span></div>
                <div><span>Writers: {{ ", ".join(episode_info.writers_names) }}</span></div>
                <div><span>Date: {{  episode_info.release_date }}</span></div>
                <div><span>Duration: {{  episode_info.duration }}</span></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <caption class="text-left">Casts</caption>
                    <thead>
                    <tr>
                        <th>Actor</th>
                        <th>Role</th>
                        <th>Awards</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in episode_info.played %}
                        <tr>
                            <td><a href="/actors/{{ "1" }}">{{ p.actor_name }}</a></td>
                            <td>{{ p.role_title }}</td>
                            {% if p.award_title and p.award_year %}
                                <td>{{ "%s (%s)" % (p.award_title, p.award_year) }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>

{% endblock %}