{% extends "base.html" %}

{% block extra_css %}
    <link href="{{ url_for('static', filename='serials_info.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Project name</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="active" href="/serials">Serials</a></li>
                <li><a href="">Actors</a></li>
                <li><a href="">Writers</a></li>
                <li><a href="">Directors</a></li>
                <li><a href="">Statistic</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </nav>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="{{ url_for('static', filename='images/360x512.png') }}" alt="">
            </div>
            <div class="col-md-9">
                <h3 class="text-center">{{ serial_info.title }}</h3>
                <div><span>Country: {{ serial_info.country }}</span></div>
                <div><span>Year: {{ serial_info.release_year }}</span></div>
                <div><span>Creators: {{ ", ".join(serial_info.creators_names) }}</span></div>
                <div><span>Actors: {{ ", ".join(serial_info.actors_names) }}</span></div>
                <div><span>Genres: {{ ", ".join(serial_info.genres_titles) }}</span></div>
                <div><span>Awards: {{ ", ".join(serial_awards_list) }}</span></div>

                <div>Description:</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <caption class="text-left">Seasons</caption>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Year</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for season_index in range(0, serial_info.seasons|length) %}
                        <tr>
                            <td><a href="{{ url_for('serials.process_serials', serial_id=serial_info.serial_id, season_number=serial_info.seasons[season_index].season_number) }}">{{ season_index + 1}}</a></td>
                            <td>{{ serial_info.seasons[season_index].release_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row" id="submit-review">
            <div class="col-md-12">
                <div class="well">
                    <form action="/serials/{{ serial_info.serial_id }}" method="post">
                        <textarea class="form-control" cols="100" name="review"
                                  placeholder="Begin Here..." rows="10"></textarea>

                        <div class="text-right write-btn">
                            <button class="btn btn-warning btn-lg" type="submit">
                                <span class="glyphicon glyphicon-send"></span> Write a Review
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="review-caption">Reviews</div>


        {% for i in range(0, 10) %}
            <div class="row review">
                <div class="col-md-2">
                    <div>John Smith</div>
                    <div>Rating: 5</div>
                </div>
                <div class="col-md-10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        {% endfor %}


    </div>

{% endblock %}