{% extends "base.html" %}

{% block extra_css %}
    <link href="{{ url_for('static', filename='jqcloud/jqcloud.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='DataTables/datatables.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap-slider/bootstrap-slider.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='serials.css') }}" rel="stylesheet">
{% endblock %}
{% block extra_js %}
    <script src="{{ url_for('static', filename='jqcloud/jqcloud.min.js') }}"></script>
    <script src="{{ url_for('static', filename='DataTables/datatables.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-slider/bootstrap-slider.js') }}"></script>

    <script type="text/javascript">
        var basic_words = [
            {% for key, value in genres.items() %}
                {text: "{{ key }}", weight: {{ value }}},
            {% endfor %}
        ];

        var linked_words = $.extend(true, [], basic_words);
        linked_words.splice(0, 3,
                {text: "Action", weight: 13, link: 'http://github.com/mistic100/jQCloud'},
                {text: "Comedy", weight: 10.5, link: 'http://www.strangeplanet.fr'},
                {text: "Fantasy", weight: 9.4, link: 'http://piwigo.org'}
        );

        $(function () {
            $('#genres').jQCloud(linked_words);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#serials').DataTable({
                "paging": false,
                "searching": false,
                "info": false,
            });
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var yearSlider = $("#inputYear").slider({
                "range": true,
                "min": 1900,
                "max": 2016,
            });

            var ratingSlider = $("#inputRating").slider({
                "range": true,
                "min": 5.0,
                "max": 10.0,
            });
        });

    </script>
{% endblock %}

{% block content %}

    <div class="container">

        <div id="genres"></div>

        <form class="form-horizontal" action="{{ url_for('serials.process_serials') }} " method='post'>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="inputTitle" class="control-label">Title</label>
                        <input type="text" class="form-control" name="inputTitle" id="inputTitle" placeholder="Black Mirror">
                    </div>

                    <div class="col-sm-6">
                        <label for="inputCountry" class="control-label">Countries (comma separated)</label>
                        <input type="text" class="form-control" name="inputCountry" id="inputCountry" placeholder="Russia">
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <label for="inputYear" class="control-label">Year</label>
                        <input name="inputYear" id="inputYear" type="text" class="form-control"/>
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="control-label">Actors (comma separated)</label>
                        <input name="inputActor" id="inputActor" type="text" class="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label for="inputRating" class="control-label">Rating</label>
                        <input name="inputRating" id="inputRating" type="text" class="form-control"/>
                    </div>
                    <div class="col-sm-6">
                        <label for="inputGenre" class="control-label">Genres (comma separated)</label>
                        <input name="inputGenre" id="inputGenre" type="text" class="form-control"/>
                    </div>
                </div>

            </div>


            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="submit" class="btn btn-default pull-right">Search</button>
                </div>
            </div>
        </form>


        <div class="row">
            <div class="col-md-12">
                <table id="serials" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Country</th>
                        <th>Year</th>
                        <th>Seasons</th>
                        <th>Episodes</th>
                        <th>Marked</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for serial_index in range(0, serials_info|length) %}
                        <tr>
                            <td>{{ serial_index + 1 }}</td>
                            <td>
                                <a href="/serials/{{ serials_info[serial_index].serial_id }}">{{ serials_info[serial_index].title }}</a>
                            </td>
                            <td>{{ serials_info[serial_index].country }}</td>
                            <td>{{ serials_info[serial_index].release_year }}</td>
                            <td>{{ serials_info[serial_index].seasons_count }}</td>
                            <td>{{ serials_info[serial_index].episodes_count }}</td>
                            <td><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div> <!-- /container -->
{% endblock %}

