<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <!-- Base css -->
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    <!-- VK OpenAPI -->
    {#    <script src="https://vk.com/js/api/openapi.js?136" type="text/javascript"></script>#}

    {% block extra_css %}{% endblock %}

</head>
<body>
{% block header %}
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Amazing serial system</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li {% if request.endpoint == "serials.process_serials" %} class='active' {% endif %}>
                    <a href="{{ url_for("serials.process_serials") }}">Serials</a>
                </li>
                <li {% if request.endpoint == 'persons.process_actors' %} class='active' {% endif %}>
                    <a href="{{ url_for('persons.process_actors') }}">Actors</a>
                </li>
                <li {% if request.endpoint == 'persons.process_writers' %} class='active' {% endif %}>
                    <a href="{{ url_for('persons.process_writers') }}">Writers</a>
                </li>
                <li {% if request.endpoint == 'persons.process_directors' %} class='active' {% endif %}>
                    <a href="{{ url_for('persons.process_directors') }}">Directors</a>
                </li>
                <li {% if request.endpoint == 'statistics.process_statistics' %} class='active' {% endif %}>
                    <a href="{{ url_for('statistics.process_statistics') }}">Statistic</a>
                </li>
                <li><a href="">Login</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </nav>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <p class="text-muted">All rights reserved. Use without permission is illegal!</p>
      </div>
    </footer>
{% endblock %}

<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
{% block extra_js %}{% endblock %}
{##}
{#    <script type="text/javascript">#}
{#      VK.init({#}
{#        apiId: 5741408#}
{#      });#}
{#    </script>#}
{##}
{#    <div id="vk_auth"></div>#}
{#    <script type="text/javascript">#}
{#     VK.Widgets.Auth('vk_auth', {width: "200px", authUrl: '/login'});#}
{#    </script>#}

</body>
</html>