{% extends "base.html" %}

{% block header %}
        <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Project name</a>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="active" href="/serials">Serials</a></li>
            <li><a href="">Actors</a></li>
            <li><a href="">Writers</a></li>
            <li><a href="">Directors</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="{{ url_for('static', filename='images/360x512.png') }}" alt="">
            </div>
            <div class="col-md-9">
                <h4 class="text-center">Black Mirror (2011 - ?)</h4>
                <div><span>Black Mirror is a British television anthology series created by Charlie Brooker that features speculative fiction with dark and sometimes satirical themes that examine modern society, particularly with regard to the unanticipated consequences of new technologies.[1] The series is produced by Zeppotron for Endemol and was first broadcast on Channel 4 in 2011.

Regarding the programme's content and structure, Brooker noted, "each episode has a different cast, a different setting, even a different reality. But they're all about the way we live now – and the way we might be living in 10 minutes' time if we're clumsy."[2] The series has received critical acclaim, and has seen an increase in interest internationally (particularly in the US) after being added to Netflix.[3] Stephen King, in particular, has noted his interest in the series.[3][4]</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <caption class="text-left">Episodes</caption>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Episode</th>
                        <th>Season</th>
                        <th>Released</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in range(0, 10) %}
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td><a href="/episodes/{{ i }}">The National Anthem</a></td>
                            <td>1</td>
                            <td>1</td>
                            <td>4 Dec. 2011</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% for i in range(0, 10) %}
        <div class="row review">
            <div class="col-md-2">
                <div>John Smith</div>
                <div>Rating: 5</div>
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        {% endfor %}



    </div>

{% endblock %}